<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Document</title>
</head>
<body>
  <div class="home-container">
    <div class="layout-wrapper">
      <aside class="sidebar">
        <nav>
          <div class="logo-container px-4 py-3 m-0">
            <div class="logo-wrapper">
              <div class="logo-badge">
                <img src="../image/hcmut.png" alt="SPSS Logo" class="logo-image">
                <span class="logo-text">SPSS</span>
              </div>
            </div>
          </div>
          <ul class="nav-sidebar">
            <li class="nav-item">
              <a href="#" class="nav-link d-flex">
                <span>Trang chủ</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link d-flex">
                <span>Thông tin tài khoản</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link active d-flex">
                <span>In tài liệu</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link d-flex">
                <span>Mua trang in</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link d-flex">
                <span>Lịch sử in ấn</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link d-flex">
                <span>Lịch sử giao dịch</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link d-flex">
                <span>Đăng xuất</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>
  
      <div class="main-content">
        <header class="top-bar">
          <div class="search-box">
            <input type="search" placeholder="Tìm kiếm" aria-label="Search">
          </div>
          <div class="user-profile">
            <img src="../image/avatar.svg" alt="User avatar" width="49">
            <div class="user-info">
              <div class="user-name">Nguyễn Văn A</div>
              <div class="user-role">KHMT</div>
            </div>
          </div>
        </header>
  
        <h1 class="page-title">In tài liệu</h1>
        <section class="preview-section">
          <h2 class="section-title">File tải lên</h2>
          <div class="file-item">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/baa5de1cc941dc19586999840441e293bf0e1da40e1335294ac06778cb1d2947?placeholderIfAbsent=true&apiKey=2c13e78a7fed4eb6a9f5e1c84d9a05a4" alt="" class="file-icon">
            <div class="file-info">
              <div class="file-name">BTL-CNPM.pdf</div>
              <div class="file-size">5.3MB</div>
            </div>
          </div>
        </section>
  
        <section class="print-details">
          <h2 class="section-title">Thông tin in ấn</h2>

          <div class="details">
            <div class="detail-left">
              <span class="detail-label">Sinh viên</span>
              <span class="detail-value">Nguyễn Văn A</span>

              <span class="detail-label">MSSV</span>
              <span class="detail-value">2251234</span>

              <span class="detail-label">Khoa</span>
              <span class="detail-value">KH&KTMT</span>

              <span class="detail-label">Tên file</span>
              <span class="detail-value">BTL-CNPM.pdf</span>
            </div>

            <div class="detail-right">
              <span class="detail-label">Số bản in</span>
              <span class="detail-value">1</span>

              <span class="detail-label">Loại giấy</span>
              <span class="detail-value">A4</span>

              <span class="detail-label">Số mặt</span>
              <span class="detail-value">2 mặt</span>

              <span class="detail-label">Số trang</span>
              <span class="detail-value">60 trang</span>

              <span class="detail-label">Máy in</span>
              <span class="detail-value">01-Canon</span>

              <span class="detail-label">Địa điểm in</span>
              <span class="detail-value">LTK-A4-402</span>
            </div>

          </div>

          <div class="action-buttons align-center">
            <div class="small-button-light">Chỉnh sửa</div>
            <div class="small-button-dark">In tài liệu</div>
          </div>
        </section>

        <footer class="footer">
          <div class="footer-content">
            <div>Copyright 2024 © Nhóm 11 - Công nghệ Phần mềm - CC04 - CO3001 - HK241</div>
            <div class="contact-item">
              <i class="fa-solid fa-envelope"></i>
              <span>BKNetID@hcmut.edu.vn</span>
            </div>
            <div class="contact-item">
              <i class="fa-solid fa-phone"></i>
              <span>0912 345 678</span>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../js/main.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>