<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Document</title>
</head>
<body>
  <div class="home-container">
    <div class="layout-wrapper">
      <aside class="sidebar">
        <nav>
          <div class="logo-container px-4 py-3 m-0">
            <div class="logo-wrapper">
              <div class="logo-badge">
                <img src="../image/hcmut.png" alt="SPSS Logo" class="logo-image">
                <span class="logo-text">SPSS</span>
              </div>
            </div>
          </div>
          <ul class="nav-sidebar">
            <li class="nav-item">
              <a href="{{url_for('student_home_page')}}" class="nav-link d-flex">
                <span>Trang chủ</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{url_for('account_info')}}" class="nav-link d-flex">
                <span>Thông tin tài khoản</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{url_for('upload')}}" class="nav-link active d-flex">
                <span>In tài liệu</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{url_for('buy_pages')}}" class="nav-link d-flex">
                <span>Mua trang in</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{url_for('printing_history')}}" class="nav-link d-flex">
                <span>Lịch sử in ấn</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{url_for('payment_history')}}" class="nav-link d-flex">
                <span>Lịch sử giao dịch</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{url_for('logout')}}" class="nav-link d-flex">
                <span>Đăng xuất</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>
  
      <div class="main-content">
        <header class="top-bar">
          
          <div class="user-profile">
            <img src="../image/avatar.svg" alt="User avatar" width="49">
            <div class="user-info">
              <div class="user-name">Nguyễn Văn A</div>
              <div class="user-role">KHMT</div>
            </div>
          </div>
        </header>
  
        <h1 class="page-title">In tài liệu</h1>

      <div class="content-container">
        <section class="info-section">
          <div class="info-card">
            <h2 class="section-title">Thông tin tài khoản</h2>
            <div class="info-list">
              <div class="info-item">
                <span class="info-label">Sinh viên</span>
                <span class="info-value">Nguyễn Văn A</span>
              </div>
              <div class="info-item">
                <span class="info-label">Mã số sinh viên</span>
                <span class="info-value">2251234</span>
              </div>
              <div class="info-item">
                <span class="info-label">Số trang in đang có</span>
                <span class="info-value">100 trang</span>
              </div>
            </div>
          </div>

          <div class="info-card">
            <h2 class="card-title">Thông tin file in</h2>
            <div class="info-list">
              <div class="info-item">
                <span class="info-label">Tên file</span>
                <span class="info-value">{{config['file_name']}}</span>
              </div>
              <div class="info-item">
                <span class="info-label">Loại file</span>
                <span class="info-value">{{config['file_type']}}</span>
              </div>
              <div class="info-item">
                <span class="info-label">Tổng số trang</span>
                <span class="info-value">{{config['num_pages']}}</span>
              </div>
            </div>

            <div class="document-file">
              <div class="upload-card">
                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/baa5de1cc941dc19586999840441e293bf0e1da40e1335294ac06778cb1d2947?placeholderIfAbsent=true&apiKey=2c13e78a7fed4eb6a9f5e1c84d9a05a4" alt="File icon" class="document-icon" />
                <div class="document-info">
                  <p class="document-name">{{config['file_name'] + '.' + config['file_type']}}</p>
                  <p class="document-size">{{config['file_size']}}</p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="settings-section">
          <div class="settings-card">
            <h2 class="section-title">Cài đặt</h2>
            <div class="settings-tab">Chọn máy in</div>
            {% if error %}
                <h4>
                    <p>Vui lòng chọn máy in </p>
                </h4>
            {% endif %}
            <form method="POST" action="/select-printer">  <!-- Add the form method and action -->
              <input type="hidden" name="config" value="{{config}}">

              <div class="printer-header">
                <div class="printer-info">
                  <span class="printer-name">Loại máy</span>
                  <span>Địa điểm</span>
                </div>
              </div>

              <div class="printer-item">
                <div class="printer-info">
                  <span class="printer-name">01-Canon</span>
                  <span>Lý Thường Kiệt - A4-402</span>
                </div>
                <input value = "01-Canon;Lý Thường Kiệt - A4-402" type="radio" name="printer" class="printer-checkbox" aria-label="Select printer 02-Canon">
              </div>
              
              <div class="printer-item">
                <div class="printer-info">
                  <span class="printer-name">02-Canon</span>
                  <span>Lý Thường Kiệt - B10-301</span>
                </div>
                <input value = "02-Canon;Lý Thường Kiệt - B10-301" type="radio" name="printer" class="printer-checkbox" aria-label="Select printer 02-Canon">
              </div>
    
              <div class="printer-item">
                <div class="printer-info">
                  <span class="printer-name">03-Panasonic</span>
                  <span>Lý Thường Kiệt - B1-212</span>
                </div>
                <input value="03-Panasonic;Lý Thường Kiệt - B1-212" type="radio" name="printer" class="printer-checkbox" aria-label="Select printer 03-Panasonic">
              </div>
    
              <div class="printer-item">
                <div class="printer-info">
                  <span class="printer-name">04-Epson</span>
                  <span>Dĩ An - H1-201</span>
                </div>
                <input value="04-Epson;Dĩ An - H1-201" type="radio" name="printer" class="printer-checkbox" aria-label="Select printer 04-Epson">
              </div>
    
              <div class="printer-item">
                <div class="printer-info">
                  <span class="printer-name">05-Toshiba</span>
                  <span>Dĩ An - H2-203</span>
                </div>
                <input value="05-Toshiba;Dĩ An - H2-203" type="radio" name="printer" class="printer-checkbox" aria-label="Select printer 05-Toshiba">
              </div>
              
              <div class="action-buttons">
                
                <div type="button" class="small-button-light">Quay lại</div>
                <button type="submit" class="small-button-dark">Tiếp</button>
              </div>
            </form>
          </div>
        </section>
      </div>


        <footer class="footer">
          <div class="footer-content">
            <div>Copyright 2024 © Nhóm 11 - Công nghệ Phần mềm - CC04 - CO3001 - HK241</div>
            <div class="contact-item">
              <i class="fa-solid fa-envelope"></i>
              <span>BKNetID@hcmut.edu.vn</span>
            </div>
            <div class="contact-item">
              <i class="fa-solid fa-phone"></i>
              <span>0912 345 678</span>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../js/main.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>