<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
      integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="home-container">
      <div class="layout-wrapper">
        <aside class="sidebar">
          <nav>
            <div class="logo-container px-4 py-3 m-0">
              <div class="logo-wrapper">
                <div class="logo-badge">
                  <img
                    src="../image/hcmut.png"
                    alt="SPSS Logo"
                    class="logo-image"
                  />
                  <span class="logo-text">SPSS</span>
                </div>
              </div>
            </div>
            <ul class="nav-sidebar">
              <li class="nav-item">
                <a href="#" class="nav-link active d-flex">
                  <span>Trang chủ</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{url_for('sso')}}" class="nav-link d-flex">
                  <span>Đăng nhập</span>
                </a>
              </li>
            </ul>
          </nav>
        </aside>

        <div class="main-content">
          <header class="top-bar">
            <div class="user-controls">
              <button
                class="login-button"
                onclick="window.location.href='{{url_for('sso')}}'"
              >
                <span>Đăng nhập</span>
                <i class="fa-solid fa-arrow-right"></i>
              </button>
            </div>
          </header>

          <section class="hero-section">
            <img
              src="../image/background.jpg"
              alt="Hero Background"
              class="hero-image"
            />
            <div class="hero-title">
              <img src="../image/bkprinting-service.svg" alt="" />
            </div>
          </section>

          <section class="content-section">
            <div class="content-text">
              <h2 class="content-heading">
                GIỚI THIỆU VỀ<br />DỊCH VỤ IN BÁCH KHOA
              </h2>
              <p class="content-description">
                Bach khoa Smart Printing là dịch vụ in ấn tài liệu dành riêng
                cho sinh viên trường Đại học Bách khoa - ĐHQG-HCM.
              </p>
              <p class="content-description">
                Đăng nhập ngay để sử dụng dịch vụ này.
              </p>
              <a href="{{url_for('sso')}}" class="cta-button">ĐĂNG NHẬP</a>
            </div>
            <img
              src="../image/printer.jpg"
              alt="Printing Service Illustration"
              class="content-image"
            />
          </section>

        </div>
      </div>
      <footer class="footer layout-width">
        <div class="footer-content">
          <div>
            Copyright 2024 © Nhóm 11 - Công nghệ Phần mềm - CC04 - CO3001 -
            HK241
          </div>
          <div class="contact-item">
            <i class="fa-solid fa-envelope"></i>
            <span>BKNetID@hcmut.edu.vn</span>
          </div>
          <div class="contact-item">
            <i class="fa-solid fa-phone"></i>
            <span>0912 345 678</span>
          </div>
        </div>
      </footer>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../js/main.js"></script>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
